<div *ngIf="recipe">

  <button (click)="goBack()">go back</button>
  <h2>{{recipe.title.rendered}}</h2>
  <p>{{recipe.acf.subtitle}}</p>
  <div><em>id: </em>{{recipe.id}}</div>
  <p>{{recipe.acf.intro}}</p>
  <strong>Ingredients:</strong>{{recipe.acf.ingredients}}
  <strong>Alcohol:</strong> {{recipe.acf.alcohol}}
  <div>
    <img src="{{recipe.acf.afbeelding_1}}" alt="afbeelding_1">
    <img src="{{recipe.acf.afbeelding_2}}" alt="afbeelding_2">
  </div>

  <hr>
  <div>
    <label>title:
      <input [(ngModel)]="recipe.title.rendered" placeholder="title"/>
    </label>
  </div>

</div>

<div *ngIf="!recipe">
  loading...
</div>
